<div class="new-snake-form">
  <div>
    <h2>Edit Your Snake</h2>
  </div>
  <%= simple_form_for @snake do |i| %>
    <%= i.error_notification %>
    <%= i.input :name, required: true, autofocus: true %>
    <%= i.input :sex, collection: ["Male", "Female", "Unknown"], required: true, autofocus: true %>
    <%= i.input :breed, required: true, autofocus: true %>
    <%= i.input :price, required: true, autofocus: true %>
    <%= i.input :available, as: :select, required: true, autofocus: true, label: "Available for rent immediately" %>
    <%= i.input :photo, as: :attachinary %>
    <%= i.submit %>
  <% end %>
  <br>
  <%= link_to "Delete your snake", snake_path(@snake), class: "btn btn-danger", method: :delete %>
</div>
