<div class="container">
    <div class="row">
      <div class="col-xs-12">

      <%= simple_form_for :search,  url: snakes_path , :method => :get do |f| %>
      <%= f.input :sex, collection: ["Male", "Female", "Unknown"],  required: false, as: :radio_buttons %>
      <%= f.input :price, collection: @prices,  required: false   %>
      <%= f.submit "Catch a Snake!", class: "btn btn-warning"  %>
      <% end %>
      <% if @snakes.blank? %>
        <h4>There are no snakes matching your search terms.</h4>
      <% end %>


      <div class="text-center">
      <h1>Index All Snakes Public</h1>
        <ul class ="ul-no-bullets">
          <% @snakes.each do |snake| %>
            <li><%= link_to snake.name, snake_path(snake) %></li>
          <% end %>
        </ul>
        <%= link_to "Return Home", root_path, class: "btn btn-success" %>
        <%= link_to "Search Again", snakes_path, class: "btn btn-success" %>
      </div>
    </div>
  </div>
</div>
