<div class="wrapper text-center">
  <h1>Snakes</h1>
  <div class="container">
   <div class="row">
    <% @snakes.each do |snake| %>
    <% if snake.photo === nil %>
    <div class="card col-xs-12 col-sm-4", style="background-image: url(../../assets/Yellow_snake_t)">
      <%#= image_tag("Yellow_snake_t.jpg", class: "card-link") %>
      <% else %>
      <div class="card col-xs-12 col-sm-4" style="background-image: url(<%= cl_image_path(snake.photo.public_id, width: 100, height: 150, crop: :fill, class: "card-link")%>)">
        <% end %>
        <ul class ="ul-no-bullets">
          <div class="card-category">
           <li><%= snake.name %>
           </li>
         </div>

         <div class="card-user">

          <%#= if @snake.user == current_user %>

          <%# avatar_url = current_user.facebook_picture_url || "http://placehold.it/30x30" %>
          <%# x =  "<a href=\"/users/#{current_user.id}\">" %>
          <%#= x.html_safe %>
          <%#= image_tag avatar_url, class: "avatar" %>
          <%# end %>

        </div>
        <div class="card-description">
          <li><%= snake.breed %>
          </li>
          <li><%= snake.sex %>
          </li>
        </div>
      </ul>
    </div>
    <% end %>
  </div>
</div>
</div>
<div class="container text-center">
  <%= link_to "Return Home", root_path, class: "btn btn-success" %>
</div>
