<div class="index-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://res.cloudinary.com/dxvq7itog/image/upload/v1491861510/king-snake-snake-banded-red-47310_zjcc99.jpg');">
	<div class="banner-content">
    <h1>Snakes</h1>
  </div>
</div>

<div class="wrapper margin-up">
  <div class="container">
    <% for i in 0...@snakes.length do %>
      <% if i % 3 == 0 %>
          <div class="row">
            <% for j in i..(i + 2) do %>
              <div class="col-xs-12 col-sm-4">
                <% snake = @snakes[j] %>
                <% image_url = snake.photo.nil? ? image_path("th.jpeg") : cl_image_path(snake.photo.path, width: 100, height: 150, crop: :fill, :gravity => :face, class: "card- link")  %>
                <%= link_to snake_path(snake) do %>
                  <div class="card temp" style="background-image: url(<%= image_url %>)">
                    <div class="card-category">
                      <p><%= snake.name %></p>
                    </div>
                    <div class="card-user">
                    </div>
                    <div class="card-description">
                      <%= snake.breed %>
                      <p><%= snake.sex %></p>
                    </div>
                    <div class="card-price">
                      <%= "#{snake.price}" + "$" %>
                    </div>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>
