<div class="index-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(70, 173, 114,0.6) 50%), url('https://img.clipartfox.com/41ae2ca010239733a6ee136773a2c4b1_amazon-forest-amazon-forest-clipart_1440-900.jpeg');">

</div>

<div class="text-center index-title">
  <h1>Rent Your Snake</h1>
</div>

<div class="wrapper margin-up">
  <div class="container">
    <% for i in 0...@snakes.length do %>
      <% if i % 3 == 0 %>
          <div class="row">
            <% for j in i..(i + 2) do %>
              <div class="col-xs-12 col-sm-4">
                <% snake = @snakes[j] %>
                <% unless snake.nil? %>
                  <% image_url = snake.photo.nil? ? image_path("th.jpeg") : cl_image_path(snake.photo.path, width: 100, height: 150, crop: :fill, :gravity => :face, class: "card- link")  %>
                  <%= link_to snake_path(snake) do %>
                    <div class="card temp" style="background-image: url(<%= image_url %>)">
                      <div class="card-category">
                        <h2><%= snake.name %></h2>
                      </div>
                      <div class="card-user">
                      </div>
                      <div class="card-description">
                        <h3><%= snake.breed %></h3>
                        <p><%= snake.sex %></p>
                      </div>
                      <div class="card-price">
                        <%= "#{snake.price}" + "$" %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>



<style>

  .navbar-wagon {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    box-shadow: 0 0 0 0 !important;
    width: 100%;
  }

  .session {
    color: white;
  }

</style>


