
<div class="index-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(70, 173, 114, 0.3) 50%), url('http://res.cloudinary.com/dxvq7itog/image/upload/v1491861510/king-snake-snake-banded-red-47310_zjcc99.jpg');">
	<div class="banner-content">
		<h1>Snakes</h1>
	</div>
</div>

<div class="wrapper">
	<div class="container">
		<div class="row">
      <%= simple_form_for :search,  url: snakes_path , :method => :get do |f| %>
        <%= f.input :sex, collection: ["Male", "Female", "Unknown"],  required: false, as: :radio_buttons %>
        <%= f.input :price, collection: @prices,  required: false   %>
        <%= f.submit "Catch a Snake!", class: "btn btn-warning"  %>
      <% end %>

      <% if @snakes.blank? %>
        <h4>There are no snakes matching your search terms.</h4>
      <% end %>
</div>
<div class="container text-center">
	<%= link_to "Return Home", root_path, class: "btn btn-success" %>
  <%= link_to "Search Again", snakes_path, class: "btn btn-success" %>
</div>

</div>

<div class="wrapper margin-up">
  <div class="container">
    <% for i in 0...@snakes.length do %>
      <% if i % 3 == 0 %>
          <div class="row">
            <% for j in i..(i + 2) do %>
              <div class="col-xs-12 col-sm-4">
                <% snake = @snakes[j] %>
                <% unless snake.nil? %>
                  <% image_url = snake.photo.nil? ? image_path("th.jpeg") : cl_image_path(snake.photo.path, width: 100, height: 150, crop: :fill, :gravity => :face, class: "card- link")  %>
                  <%= link_to snake_path(snake) do %>
                    <div class="card temp" style="background-image: url(<%= image_url %>)">
                      <div class="card-category">
                        <h2><%= snake.name %></h2>
                      </div>
                      <div class="card-user">
                      </div>
                      <div class="card-description">
                        <h3><%= snake.breed %></h3>
                        <p><%= snake.sex %></p>
                      </div>
                      <div class="card-price">
                        <%= "#{snake.price}" + "$" %>
                      </div>
                    </div>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </div>
      <% end %>
    <% end %>
  </div>
</div>



<style>

  .navbar-wagon {
    background: rgba(0, 0, 0, 0);
    position: absolute;
    box-shadow: 0 0 0 0 !important;
    width: 100%;
  }

  .session {
    color: white;
  }

</style>


