<div class="form-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(70, 173, 114,0.6) 50%), url('https://img.clipartfox.com/41ae2ca010239733a6ee136773a2c4b1_amazon-forest-amazon-forest-clipart_1440-900.jpeg');">
</div>

<div class="new-snake-form">
  <div>
    <h2>Add Your Snake</h2>
  </div>
  <%= simple_form_for Snake.new do |i| %>
    <%= i.error_notification %>
    <%= i.input :name, required: true, autofocus: true %>
    <%= i.input :sex, required: true, autofocus: true, collection: ["Male", "Female", "Unknown"] %>
    <%= i.input :breed, required: true, autofocus: true %>
    <%= i.input :price, required: true, autofocus: true %>
    <%= i.input :available, as: :select, required: true, autofocus: true, label: "Available for rent immediately" %>
    <%= i.input :address, required: true, autofocus: true %>
    <%= i.input :photo, as: :attachinary %>
    <%= i.submit %>
  <% end %>
</div>
