<div class="container">
    <div class="row">
      <div class="col-xs-12">

      <div class="text-center">
        <h1>Show A Snake Public</h1>
        <h2><%= @snake.name %></h2>
        <h3><%= @snake.breed %></h3>
        <h3><%= @snake.sex %></h3>
        <h3><%= @snake.available %></h3>
        <h3><%= @snake.price %></h3>
        <h3><% if @snake.photo? %>
          <%= cl_image_tag @snake.photo.path, width: 300, height: 300, crop: :fit %>
        <% end %></h3>
        <%= link_to "See more snakes", snakes_path, class: "btn btn-success" %>
        <% if @snake.user == current_user %>
          <%= link_to "Edit your snake", edit_snake_path, class: "btn btn-success" %>
        <% else %>
          <%= link_to "Book snake", new_snake_booking_path(@snake), class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
