<div class="show-wrapper">
  <div class="show-container">
    <div class="picture-title">
      <div class="snake-tab">
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-success" %>
        <%= link_to "My Bookings", user_bookings_path(@user), class: "btn btn-primary" %>
        <%= link_to "My Profile", user_path(@user), class: "btn btn-danger" %>
      </div>
      <% if @user.facebook_picture_url %>
        <%= cl_image_tag @user.facebook_picture_url, width: 300, height: 300, crop: :fill %>
      <% end %>
      <div class="show-name">
        <h1><%= @user.username %></h1>
      </div>
    </div>
    <div class="show-details">
      <h3>Your Snakes</h3>
      <% @user.snakes.each do |i| %>
        <p>Snake Name: <%= link_to i.name, snake_path(i) %></p>
        <p>Number of bookings: <%= i.bookings.count %></p>
        <br>
      <% end %>
    </div>
  </div>
</div>


