<div class="form-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(70, 173, 114,0.6) 50%), url('https://img.clipartfox.com/41ae2ca010239733a6ee136773a2c4b1_amazon-forest-amazon-forest-clipart_1440-900.jpeg');">
</div>

<div class="show-wrapper">
  <div class="show-container">
    <div class="booking-details text-center">
      <% if @booking.snake.user == current_user %>
        <% if @booking.confirmed == true %>
        <p><%= link_to @booking.user.username, user_path(@booking.user) %> has booked <%= @booking.snake.name %></p>
        <p>From: <%= @booking.from %></p>
        <p>Until: <%= @booking.until %></p>
        <% elsif @booking.confirmed == nil %>
          <p><%= link_to @booking.user.username, user_path(@booking.user) %> would like to book <%= @booking.snake.name %></p>
          <p>From: <%= @booking.from %></p>
          <p>Until: <%= @booking.until %></p>
          <%= link_to "Confirm Booking", snake_booking_path(@booking.snake, @booking), class: "btn btn-danger", method: :patch %>
          <%= link_to "Deny Booking", snake_booking_path(@booking.snake, @booking), class: "btn btn-danger", method: :delete %>
        <% else %>
          <p>You shouldn't be seeing this</p>
        <% end %>
      <% elsif @booking.user%>
        <% if @booking.confirmed == true %>
          <p>Your booking of <%= @booking.snake.name %> has been confirmed</p>
          <p>From: <%= @booking.from %></p>
          <p>Until: <%= @booking.until %></p>
        <% elsif @booking.confirmed == nil %>
          <p>Your booking of <%= @booking.snake.name %> has yet to be confirmed by <%= link_to @booking.snake.user.username, user_path(@booking.snake.user) %></p>
        <% else %>
          <p>You shouldn't be seeing this</p>
        <% end %>
      <% end %>
      <br>
      <br>

      <%= link_to "Back to list of bookings", :back, class: "btn btn-danger" %>
    </div>
  </div>
</div>



