<div class="user-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(70, 173, 114,0.6) 50%), url('https://img.clipartfox.com/41ae2ca010239733a6ee136773a2c4b1_amazon-forest-amazon-forest-clipart_1440-900.jpeg');">
</div>

<div class="show-wrapper">
  <div class="show-container">
    <div class="picture-title">
      <div class="show-tabs">
        <% my_profile = "<h3>My Profile</h3>" %>
        <% edit_profile = "<h3>Edit Profile</h3>" %>
        <% my_bookings = "<h3>My Bookings #{booking_responses_notifications(current_user)}</h3>" %>
        <% my_snakes = "<h3>My Snakes #{snakes_booked_notifications(current_user)} </h3>" %>
        <%= link_to my_profile.html_safe, user_path(@user), class: "show-tab my-tab" %>
        <%= link_to edit_profile.html_safe, edit_user_registration_path, class: "show-tab edit-tab" %>
        <%= link_to my_bookings.html_safe, user_bookings_path(@user), class: "show-tab my-bookings-tab", id: "current-tab" %>
        <%= link_to my_snakes.html_safe, user_snakes_path(@user), class: "show-tab my-snakes-tab" %>
      </div>
      <% if @user.facebook_picture_url %>
        <%= cl_image_tag @user.facebook_picture_url, width: 300, height: 300, crop: :fill %>
      <% end %>
      <div class="show-name">
        <h1><%= @user.username %></h1>
      </div>
    </div>
    <div class="show-details">
      <h3>Your Bookings</h3>
      <% your_bookings = Booking.where(user_id: @user.id) %>
      <% if your_bookings.count.zero? %>
        <br>
        <br>
        <p>You have no bookings!</p>
      <% else %>
        <% your_bookings.each do |i| %>
          <p>Booking: <%= link_to i.snake.name, snake_path(i.snake) %></p>
          <% if i.confirmed == true %>
            <% booking_status = "Confirmed" %>
          <% elsif i.confirmed == nil %>
            <% booking_status = "Pending" %>
          <% else %>
            <% booking_status = "DENIED" %>
          <% end %>
          <p>Status: <%= booking_status %></p>
          <%= link_to "View Booking", snake_booking_path(i.snake, i), class: "btn btn-danger" %>
          <br>
          <br>
          <br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


