<div class="show-wrapper">
  <div class="show-container">
    <div class="picture-title">
      <div class="snake-tab">
        <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-success" %>
        <%= link_to "My Snakes", user_snakes_path(@user), class: "btn btn-warning" %>
        <%= link_to "My Profile", user_path(@user), class: "btn btn-danger" %>
      </div>
      <% if @user.facebook_picture_url %>
        <%= cl_image_tag @user.facebook_picture_url, width: 300, height: 300, crop: :fill %>
      <% end %>
      <div class="show-name">
        <h1><%= @user.username %></h1>
      </div>
    </div>
    <div class="show-details">
      <h3>Your Bookings</h3>
      <% Booking.where(user_id: @user.id).each do |i| %>
        <p>Booking: <%= link_to i.snake.name, snake_path(i.snake) %></p>
        <% if i.confirmed == true %>
          <% booking_status = "Confirmed" %>
        <% elsif i.confirmed == nil %>
          <% booking_status = "Pending" %>
        <% else %>
          <% booking_status = "DENIED" %>
        <% end %>
        <p>Status: <%= booking_status %></p>
        <%= link_to "View Booking", snake_booking_path(i.snake, i), class: "btn btn-danger" %>
        <br>
        <br>
        <br>
      <% end %>
    </div>
  </div>
</div>


