<div class="show-wrapper">
  <div class="show-container">
    <div class="picture-title">
      <% if @user.facebook_picture_url %>
        <%= cl_image_tag @user.facebook_picture_url, width: 300, height: 300, crop: :fill %>
      <% end %>
      <div class="show-name">
        <h1><%= @user.username %></h1>
      </div>
    </div>
    <div class="show-details">
      <div class="user-details-box">
        <h3>Full Name:</h3>
        <p class="name"><%= @user.first_name %> <%= @user.last_name %></p>
        <h3>Bio:</h3>
        <p class="bio"><%= @user.bio %></p>
      </div>
    </div>
  </div>
</div>


