<div class="user-banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(70, 173, 114,0.6) 50%), url('https://img.clipartfox.com/41ae2ca010239733a6ee136773a2c4b1_amazon-forest-amazon-forest-clipart_1440-900.jpeg');">
</div>

<div class="show-wrapper">
  <div class="show-container">
    <div class="picture-title">
      <% if @user.facebook_picture_url %>
        <%= cl_image_tag @user.facebook_picture_url, width: 300, height: 300, crop: :fill %>
      <% end %>
      <div class="show-name">
        <h1><%= @user.username %></h1>
      </div>
    </div>
    <div class="show-details">
      <div class="user-details-box">
        <h3>Full Name:</h3>
        <p class="name"><%= @user.first_name %> <%= @user.last_name %></p>
        <h3>Bio:</h3>
        <p class="bio"><%= @user.bio %></p>
      </div>
    </div>
  </div>
</div>


